<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/dist/css/index.css">
    
    <title>NewsPaper</title>

</head>
<body>
    <div class="container">
        <header>

            <div class="hat-1">
                <div class="hat-1_left-part"></p>Larget Daily</br>&nbsp;Circulation</br>In New York</p></div>
                <h1>The Old Demspaper</h1>
                <div calss="hat-1_right-part"><p>Lorem Ipsum</br>&nbsp;Life History</br>Pages 13 and 14</br>&nbsp;Only There</p></div>
            </div>
            
            <div class="hat-2">
                <div class="hat-2_part1">VOL. 127 - NO.39</div>
                <div class="hat-2_part2">NEW YORK, SUNDAY, MAY 17, 1954-48 PAGES IN 4 SECTION</div>
                <div calss="hat-2_part3">PRICE 10 CENTS</div>
            </div>

        </header>
        
        <div class="main-info">
            <div class="block1">
                <div class="block1_part1">
                    <h2>EDITORIAL NEWS</h2>
                    <img src="/src/assets/images/auto.png" alt="auto" class="block1_part1_auto">
                    <span class="block1_part1_texthat">SUPER CAR</span>
                    <span class="block1_part1_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et molestiae animi sapiente harum qui, labore, fuga, culpa amet doloribus nihil quo quaerat at aliquam assumenda aspernatur esse illum consequatur est?</span>
                </div>
                <div class="block1_part2"></div>
                <div class="block1_part3"></div>
            </div>
            <div class="block2">
                <h2>TOWN HALL</br>&nbsp;MEETING</br>TOMMOTOW</h2>
            </div>
            <div class="block3"></div>
        </div>

    </div>
</body>
</html>