<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/dist/css/index.css">

    <title>NewsPaper</title>

</head>

<body>
    
    <div class="container">

        {% include '../partials/hat.html' %}
        
        <div class="main-info">

             <div class="main-info_block1">

            {% include '../partials/main-block1.html' %}
            
            {% include '../partials/main-block2.html' %}

            {% include '../partials/main-block3.html' %}

            </div>
        
        </div>
    
    </div>

</body>

</html>