<header class="hat">
    
    <div class="hat_part1">

        <div class="hat_part1_descr oldnewspaper"><span class="circulation">Larget Daily</br>Circulation</br>In New York</span><p class="quantity">135,789 WEEKDAYS</p><p class="publisher">ABC Publisher`s Statement<br>May31,&nbsp;1954</p></div>

        <h1 class="hat_part1_papername courant">The Old Newspaper</h1>

        <div class="hat_part1_serial oldnewspaper"><span>Lorem Ipsum</br>Life History</br>Pages 13 and 14</br>Only There</span></div>

    </div>

    <div class="hat_part2">
        
        <div class="hat_part2_volume oldnewspaper"><span>VOL. 127 - NO.39</span></div>
        
        <div class="hat_part2_data oldnewspaper"><span>NEW YORK, SUNDAY, MAY 17, 1954-48 PAGES IN 4 SECTION</span></div>
       
        <div class="hat_part2_price oldnewspaper"><span>PRICE 10 CENTS</span></div>

    </div>

</header>