<div class="main-info_block3">
                    
    <div class="block3_container">
        
        <div class="block3_container_text-mach"><img src="/src/assets/images/text-mach-pic.png" alt="text-mach"></div>

        <h2 class="block3_container_title fontcafe">YOUR TITLE</h2>
        <p class="block3_container_all-info oldnewspaper">ALL INFORMATION</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem temporibus iure nulla facilis maxime iste dignissimos, nihil nobis, expedita minima nemo unde quia. Dolores velit nesciunt culpa possimus, enim reiciendis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sit possimus aspernatur repudiandae magnam, saepe obcaecati nisi illum. Ad, mollitia ullam pariatur eum laudantium atque ipsum nesciunt iste natus voluptatibus assumenda nostrum dolorem sint, a sed labore, beatae reiciendis neque cupiditate quod aperiam! Tenetur, incidunt?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum libero quibusdam delectus eveniet qui perferendis, sequi voluptate maiores itaque, numquam ratione excepturi beatae nihil consequatur. Delectus excepturi corrupti sunt impedit, soluta est debitis dolor numquam molestias voluptatum quidem autem tempora.</p>

        <div class="duo-line"></div>

        <h2 class="block3_container_old-paper fontcafe">OLD PAPER</h2>
        
        <div class="block3_container_retro-style oldnewspaper"><img src="/src/assets/images/star-icon.png" alt="star-icon" class="star-icon"><h3 class="ret-s">RETRO STYLE</h3><img src="/src/assets/images/star-icon.png" alt="star-icon" class="star-icon"></div>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique nesciunt ullam ab dignissimos officiis odit, eos provident eveniet quidem molestiae rerum? Adipisci minus, hic rem laboriosam tempora quam facere sint est distinctio in suscipit exercitationem!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis eius nihil, facere provident ratione dolore quam dignissimos delectus vel fugiat molestias, nobis aliquid beatae hic exercitationem sequi eos soluta. Magnam, repudiandae quibusdam vero doloribus eos aperiam eveniet nesciunt aspernatur commodi reiciendis corporis, esse voluptas, voluptate unde debitis eligendi iusto vel.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora omnis quibusdam nam temporibus fuga aliquam rerum. Blanditiis rem ab fugit?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquid, impedit veritatis sequi eius omnis illo quae iure excepturi animi nemo id, esse, beatae recusandae.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit veritatis voluptatum quas officia in est architecto nisi, dolorem ullam, saepe ipsa consequatur sapiente, doloremque non vero dicta atque magnam ea rem reprehenderit qui ad totam consectetur sequi! Nam, repellat suscipit!</p>

    </div>

</div>