<div class="main-info_block2">

    <div class="block2_container">
        
        <h2 class="block2_container_tawn-hall oldnewspaper">TAWN HALL <br> MEETING <br> TOMMOROW</h2>
        
        <p class="block2_container_read-about oldnewspaper">READ ABOUT IT</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quidem quibusdam. Expedita quam adipisci vel aliquam quisquam aliquid totam dolorem, itaque accusantium magni nulla. Accusantium necessitatibus hic totam doloribus ut incidunt, voluptate aliquid earum harum vero nesciunt tempora fugiat repudiandae. Quod, nihil quo dolorem quasi ea harum velit sequi, ex minima eveniet illum autem est? Reiciendis possimus accusamus debitis magni.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, odit magnam? Id illum suscipit ipsa excepturi, eaque cum deleniti fugiat quaerat repellat dignissimos expedita saepe!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit molestias tenetur amet necessitatibus soluta. Reprehenderit nihil odio incidunt vero repellat iure eos delectus laboriosam ducimus iste officia, suscipit provident animi.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus quidem magnam ea velit? At, qui recusandae. Cum quia asperiores ipsam magnam itaque amet delectus aperiam totam nostrum culpa facilis, fugiat, repudiandae officia! Dolor vero, nisi corrupti optio excepturi nostrum consequatur quia sequi est deleniti maxime accusantium. Cupiditate, aliquid odio rerum, eos facilis, dolorum molestiae assumenda sequi ipsa officia quia alias facere velit adipisci? A, iusto?</p>

        <img src="/src/assets/images/important-text-pic.png" alt="imortant-text" class="block2_container_imortant-text">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est maiores cupiditate enim eveniet debitis? Ex earum id nisi mollitia! Recusandae, itaque ducimus molestiae laudantium ut sed. Perferendis, sit, nemo atque voluptas commodi autem fugit, quaerat porro debitis molestiae nobis ipsam.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque consequuntur, vel sequi recusandae voluptate aliquam veritatis deserunt esse cumque, atque, perferendis velit! Provident explicabo maxime facilis perspiciatis distinctio laudantium magnam!</p>
        
        <h2 class="block2_container_phone fontcafe">PHONE NUMBER</h2>
        <h2 class="block2_container_number oldnewspaper">+000 111 2223</h2>
        <p class="block2_container_work-time">24hours/7 days in week</p>
        <div class="block2_container_phone-pic"><img src="/src/assets/images/phone-pic.png" alt="phone"></div>

    </div>

</div>
