.block2_container {
	text-align: center;
	word-break: break-all;

	&_tawn-hall {
		font-size: 44px;
	}

	&_read-about {
		font-size: 34px;
		padding: 10px 0px;
		border-top:  3px solid rgb(75, 57, 57);
		border-bottom:  3px solid rgb(75, 57, 57);
	}

	&_imortant-text {
		width: 100%;
	}

	&_phone-pic {
		padding: 5px;
		border: 6px double rgb(75, 57, 57);
		outline: 3px solid rgb(75, 57, 57);
	}

	&_phone {
		font-size: 42px;
	}

	&_number {
		font-size: 45px;
	}

	&_work-time {
		font-size: 22px;
		margin: 10px;
	}
}